/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent !important;
    color: inherit  !important;
    transition: all .5s  !important;
}

.btn-primary.btn-outline {
    color: #428bca  !important;
    background-color: solid;
}

.btn-success.btn-outline {
    color: #5cb85c  !important;
}

.btn-info.btn-outline {
    color: #5bc0de  !important;
}

.btn-warning.btn-outline {
    color: #f0ad4e  !important;
}

.btn-danger.btn-outline {
    color: #d9534f  !important;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    background-color: solid  !important;
}

/* ck editor */
.ck-editor__editable
{
   min-height: 400px !important;
   max-width: 600px !important;
}
.ck-sticky-panel
{
   max-width: 600px !important;
}

.custom-title{
	font-size: 1em !important;
}